<%-include('partials/header')-%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <p class="com-h">Title</p>
    <input type="text" name="postTitle" id="">
    <p class="com-h">Post</p>
    <textarea name="postContent" id="" cols="30" rows="10"></textarea>
    <button type="submit" id="pub">Publish</button>
</form>
<%-include('partials/footer')-%>