/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.com-h{
    font-weight: bold;
    font-size: 20px;
}
#pub{
    background-color: dodgerblue;
    padding: 10px;
    color:#fff;
    border-radius: 10px;
    margin-top: 10px;
}
textarea{
    width: 100%;
}
input[type=text]{
    width: 100%;
    font-size: 20px;
    border:1px solid black;
}
input,textarea{
    border-radius: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
